<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.marcel.screenpipe.record</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/marcel/.bun/install/global/node_modules/@screenpipe/cli-darwin-arm64/bin/screenpipe</string>
    <string>record</string>
    <string>--disable-audio</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/marcel/.screenpipe/record.launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/marcel/.screenpipe/record.launchd.err.log</string>
</dict>
</plist>
